   div#current{
  margin: auto;
  width: 300px;
  height:360px;
  padding: 25px;
  background-color: window;
  background-image: url("");
  background-repeat: no-repeat;
  }
  
  div#location{
  margin: auto;
  width: 300px;
  height:360px;
  padding: 25px;
  background-color: window;
  background-repeat: no-repeat;
  }
  
  .Fancybox {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 30%;
  height: 60%;
  padding: 15% 35% 25% 35%;
  color: #000000;
  background-color: rgba(200, 100, 0, 0.9);
  text-align: center;
  text-shadow: #333 0 1px 0; }
  
  p{
  color:lime;
  font-size:16px;
  font-family:"Trebuchet MS", Verdana, Arial, sans-serif;
  }
  
  h1{
  color:orange;
  font-family:monospace;
  text-align: center;
  }
  
  h2{
  color:orange;
  font-family:monospace;
  text-align:center;
  border: 5px inset grey;
  }
  
  html {
  min-height: 100%;
  background-color: window;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  box-shadow: 0 0 50px 50px olive inset; }
