   div#current{
  margin-left: 180px;
  margin-right: 180px;
  width: 300px;
  padding: 25px;
  background-color: window;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 155%;
  }
  
  div#location{
  margin-left: 580px;
  margin-right: 580px;
  margin-bottom:100px;
  width: 300px;
  padding: 25px;
  background-color: window;
  background-repeat: no-repeat;
  background-size: 155%;
  }
  
  p{
  color:lime;
  font-size:16px;
  font-family:"Trebuchet MS", Verdana, Arial, sans-serif;
  }
  
  h1{
  color:orange;
  font-family:monospace;
  text-align: center;
  }
  
  h2{
  color:orange;
  font-family:monospace;
  text-align:center;
  border: 5px inset grey;
  }
  
  html {
  min-height: 100%;
  background-color: window;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  box-shadow: 0 0 50px 50px olive inset; }
